<a href="https://colab.research.google.com/github/MeemooMe/myTuwaiqDSProj/blob/main/TrafficDS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [7]:
import io
from google.colab import files
uploaded = files.upload()

for name, data in uploaded.items():
  with open(name, 'wb') as f:
    f.write(data)
    print ('saved file', name)

Saving caracteristiques-2019.csv to caracteristiques-2019.csv
Saving usagers-2019.csv to usagers-2019.csv
saved file caracteristiques-2019.csv
saved file usagers-2019.csv

In [23]:
charcts_df = pd.read_csv(io.StringIO(uploaded['caracteristiques-2019.csv'].decode()), sep = ',')
drivers_df = pd.read_csv(io.StringIO(uploaded['usagers-2019.csv'].decode()), sep = ',')

In [24]:
charcts_df.sample(5)

            Num_Acc  jour  ...          lat        long
57117  201900057118   9.0  ...  437050020.0  72838250.0
2250   201900002251   3.0  ...  496397200.0 -16023400.0
57454  201900057455  27.0  ...  432451810.0  65339630.0
42365  201900042366   2.0  ...  435327500.0  54478100.0
27199  201900027200  17.0  ...  506339800.0  30943300.0

[5 rows x 15 columns]

In [25]:
charcts_df.describe()

               jour          mois  ...           lat          long
count  58713.000000  58713.000000  ...  5.871300e+04  5.871300e+04
mean      15.685964      6.688485  ...  4.458634e+08  2.864451e+07
std        8.720109      3.387156  ...  1.182908e+08  1.871112e+08
min        1.000000      1.000000  ... -6.142566e+08 -1.781574e+09
25%        8.000000      4.000000  ...  4.478586e+08  1.410280e+07
50%       16.000000      7.000000  ...  4.782554e+08  2.398705e+07
75%       23.000000     10.000000  ...  4.885652e+08  4.829060e+07
max       31.000000     12.000000  ...  6.356807e+08  1.740234e+09

[8 rows x 11 columns]

In [18]:
charcts_df.dtypes

Num_Acc     object
jour       float64
mois       float64
an         float64
hrmn       float64
lum        float64
dep         object
com         object
agg        float64
int        float64
atm        float64
col        float64
adr         object
lat        float64
long       float64
dtype: object

In [26]:
# change columns names from Frenc to English
charcts_df.rename(columns = {'Num_Acc': 'acc_id', 'jour': 'Day', 'mois':'Month', 'an':'Year','hrmn':'Hour_Mins', 'lum':'Light','dep':'Department', 'com':'Municipality','agg':'Location', 'int':'Intersection','atm':'Weather_cond', 'col':'Collison_type','adr':'Address', 'lat':'Latitude','long':'Longtitude'}, inplace = True)

In [27]:
charcts_df.dtypes

acc_id            object
Day              float64
Month            float64
Year             float64
Hour_Mins        float64
Ligh             float64
Department        object
Municipality      object
Location         float64
Intersection     float64
Weather_cond     float64
Coliison_type    float64
Address           object
Latitude         float64
Longtitude       float64
dtype: object

In [28]:
charcts_df.sample(5)

             acc_id   Day  ...     Latitude  Longtitude
46473  201900046474  31.0  ...  487053500.0  62206000.0
30100  201900030101  26.0  ...  432960000.0  54380000.0
20632  201900020633   1.0  ...  456880000.0   2184600.0
33165  201900033166  14.0  ...  457483150.0  48435200.0
31684  201900031685  21.0  ...  463385820.0  26069112.0

[5 rows x 15 columns]